venv/
templates/
__pycache__/
*.pyc
instance/
.DS_Store
.env
*.sqlite3
*.log
.idea/
.vscode/
*.swp
*.swo
migrations/
*.egg-info/
dist/
build/
*.bak
*.tmp
*.old
*.orig
*.rej
*.class
*.jar
*.war
*.iml
*.ipr
*.iws
*.logs
*.out
*.pid
*.seed
*.coverage
*.pytest_cache/
htmlcov/
.tox/
APIS/
requirements.txt
requirements-dev.txt